.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4; /* Reducimos la opacidad del banner */
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 80%,
    var(--background) 100%
  );
}
